<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <a *ngFor="let link of links" mat-list-item [routerLink]="link.routerLink">
        <mat-icon matListAvatar>{{ link.icon }}</mat-icon>
        {{ link.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{ sidenav.opened ? 'arrow_back' : 'arrow_forward' }}</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
